body {
  margin: 0;
  padding: 1em 0em 1em 0em;
  background-color: #141414;
  height: 100%;
}

/* Navbar */
.navContainer {
  max-width: 660px;
}

.navBar {
  margin-top: 2em;
}

/* Page Title */
.text {
  fill: url(#gr-simple);
}

.text {
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  height: 200px;
}

/* Main Section */
.cardRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameCard,
.landmarkCard,
.playDiceCard {
  width: 20rem;
  height: 24rem;
  margin-left: 0.5em;
  color: white;
  font-size: 1.5rem;
  background-color: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.gameTitle {
  font-size: 1.2rem;
}

.gameDesc {
  text-align: center;
  font-size: 1.2rem;
  margin-top: -1em;
  margin-bottom: 2em;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carouselItem {
  padding-bottom: 3em;
}

/* Footer section */
.rowFooter {
  width: 100%;
}

.footer {
  background-image: url("./img/background_bottom.png");
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
  }

  .homeIcon {
    margin-left: -2em;
  }

  .cardRow,
  .btnRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footer {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    max-height: 200px;
  }
  .text {
    font-size: 2.5em;
    font-weight: 600;
    width: 100%;
    height: 200px;
  }

  .gameDesc {
    font-size: 1.2rem;
  }
  .gameCard,
  .landmarkCard {
    width: 16rem;
    height: 20rem;
    margin: 1em 0.5em 1em 1.5em;
  }

  #gameTitle {
    font-size: 1.25em;
    font-weight: 700;
  }
  #nextBtn {
    margin-left: 2em !important;
  }
}

/* Button section */

.btnRow {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nextBtn {
  margin-left: 0.5em;
}

button {
  font-family: "Roboto", sans-serif;
  width: 185px;
  font-size: 16px;
  position: relative;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.75em 1.75em;
  display: inline-block;
  color: #fff;

  /* Our gradient */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--purple)),
    to(var(--pink))
  );
  background: linear-gradient(to right, var(--purple), var(--pink));
}

button:hover {
  transform: scale(1.1);
}

.diceImg {
  width: 50px;
  margin: 2em;
}
